.content-box{
    display: flex;
    flex-direction: column;
}

.content-box___column {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
}

.content-page__title {
    display: flex;
    flex-direction: row;
}